.fullscreen-image__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: calc(var(--ifm-z-index-fixed) + 1);
}

.fullscreen-image__target {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 50% 50%;
}

.fullscreen-image__source {
  cursor: pointer;
}
