.menu {
  position: sticky;
  z-index: 999;
  top: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  color: var(--ifm-color-gray-200);
  background-color: var(--ifm-color-gray-900);
}

.menu select {
  cursor: pointer;
  border: none;
  border-radius: var(--ifm-global-radius);
  height: 100%;
  color: var(--ifm-color-gray-200);
  background-color: var(--ifm-color-gray-900);
}

.menu select:hover {
  background-color: var(--ifm-color-gray-800);
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 2rem;
}

.group + .group {
  border-left: 1px solid var(--ifm-color-gray-700);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: var(--ifm-global-radius);
  height: 100%;
  width: 2rem;
}

.icon:hover {
  background-color: var(--ifm-color-gray-800);
}

.icon:global(.active) {
  color: var(--ifm-color-gray-200);
  background-color: var(--ifm-color-gray-700);
}