[submodule "content/tutorials/tutorial-template"]
	path = content/tutorials/tutorial-template
	url = https://github.com/Dr-Electron/tutorial-template
	branch = test-tutorial
[submodule "content/tutorials/wasm-client-tutorial"]
	path = content/tutorials/wasm-client-tutorial
	url = https://github.com/Dr-Electron/identity-iota-svelte-example/
	branch = gitpod-integration
