.editor {
  background-color: var(--ifm-color-emphasis-200);
}

:global([data-theme='dark']) .editor {
  background-color: var(--ifm-color-emphasis-100);
}

.content {
  margin: 0 15%;
  background-color: var(--ifm-color-emphasis-0);
  box-shadow: 0 0 .5rem var(--ifm-color-emphasis-400);
}

:global([data-theme='dark']) .content {
  background-color: var(--ifm-color-emphasis-200);
  box-shadow: 0 0 .5rem var(--ifm-color-emphasis-0);
}