@import 'fonts.css';
@import 'patches.css';

/* Sidebar Method labels */
.api-method > .menu__link {
  align-items: center;
  justify-content: start;
}

.api-method > .menu__link::before {
  width: 50px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0.25rem;
  border: 1px solid;
  margin-right: var(--ifm-spacing-horizontal);
  text-align: center;
  flex-shrink: 0;
  border-color: transparent;
  color: white;
}

.get > .menu__link::before {
  content: 'get';
  background-color: var(--ifm-color-primary);
}

.post > .menu__link::before {
  content: 'post';
  background-color: var(--openapi-code-green);
}

.delete > .menu__link::before {
  content: 'del';
  background-color: var(--openapi-code-red);
}

.put > .menu__link::before {
  content: 'put';
  background-color: var(--openapi-code-blue);
}

.patch > .menu__link::before {
  content: 'patch';
  background-color: var(--openapi-code-orange);
}

.head > .menu__link::before {
  content: 'head';
  background-color: var(--ifm-color-secondary-darkest);
}

.switcher {
  --ifm-link-color: var(--ifm-font-color-base);
  --ifm-link-hover-color: var(--ifm-font-color-base);
  --ifm-link-hover-decoration: none;
}

.switcher__section--active {
  --ifm-heading-color: var(--ifm-color-gray-0);
  --ifm-menu-color: var(--ifm-color-gray-300);
  --ifm-menu-color-active: var(--ifm-color-gray-0);
  color: var(--ifm-color-gray-100);
  background-color: var(--ifm-color-primary-darker);
}

.switcher__menu {
  --ifm-menu-color-background-hover: var(--ifm-color-primary-dark);
  background-color: var(--ifm-color-primary-darkest);
}

.switcher__menu .menu__link--active {
  color: var(--ifm-color-gray-0);
  background-color: transparent;
}

.switcher__menu .menu__link--active:hover {
  background-color: var(--ifm-color-primary-dark);
}
