:root {
    --docsearch-primary-color: var(--ifm-color-primary);
    --docsearch-text-color: var(--ifm-font-color-base);
    z-index: 700;
  }
  
  .DocSearch-Button {
    margin: 0;
    transition: all var(--ifm-transition-fast)
      var(--ifm-transition-timing-default);
  }
  
  .DocSearch-Container {
    z-index: 200;
  }
  .DocSearch-Modal {
    top: 61px;
  }
.filterButton{
  width: 100px;
}