.dropdown {
  position: absolute;
  right: 22%;
  top: 245%;
  cursor: pointer;
  font-size: 14px;
  font-weight: var(--ifm-font-weight-semibold);
}
.dropdownMenu {
  color: var(--ifm-navbar-link-color);
  width: 210px;
  position: absolute;
  padding: 15px;
  height: 300px;
  left: -35%;
  top: 104%;
}
.dropdownMenu::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.dropdownMenu {
  scrollbar-width: thin;
}

.subFilters {
  margin-left: 20px;
}
.subChildFilters {
  margin-left: 35px;
}
@media (max-width: 996px) {
  .dropdown {
    position: absolute;
    right: 665%;
    top: 459%;
  }

  .dropdownMenu {
    left: 65%;
  }
}

@media (max-width: 770px) {
  .dropdown {
    position: absolute;
    right: 396%;
    top: 253%;
  }

  .dropdownMenu {
    position: absolute;
    top: 101%;
    left: -4%;
  }
}
