.social {
  display: flex;
}

.social__font {
  color: var(--ifm-color-gray-0);
  font-family: 'socials_font' !important;
}

.social__icon {
  font-size: larger;
  margin-right: 0.5rem;
}

.social__link {
  transition: background-color var(--ifm-transition-slow)
    var(--ifm-transition-timing-default);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link:hover {
  background-color: var(--ifm-color-primary) !important;
}

.social__title {
  display: none;
  font-weight: 500;
  color: var(--ifm-color-gray-0);
}

@media (min-width: 1064px) {
  .social__image {
    margin-right: 0.5rem;
  }

  .social__title {
    display: block;
  }
}
