.homepage__section {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}

:root[data-theme='dark'] .homepage__section--gradient {
  background: linear-gradient(rgba(41, 56, 88, 0.3), rgba(19, 31, 55, 0.3));
}

.homepage__container {
  margin: 0 8rem;
  width: 100%;
  max-width: var(--ifm-container-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage__header {
  margin-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.header__text {
  width: 25rem;
  margin: 6rem 0;
}

.header__title {
  font-size: 40px;
  letter-spacing: 0.8px;
}

.header__paragraph {
  font-weight: 200;
  letter-spacing: 0.75px;
}

.header__buttons {
  display: flex;
  column-gap: 1rem;
}

.header__button {
  flex: 1 1 0;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.header__image {
  height: 80%;
}

@media (max-width: 996px) {
  .header__image {
    display: none;
  }  
}

.about__cards {
  display: flex;
  gap: 1.5rem;
  width: 100%;
}

.about__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
  background-color: var(--ifm-color-emphasis-100);
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
  padding: 3rem;
  color: inherit;
  cursor: pointer;
}

.about__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);

  width: 4rem;
  height: 4rem;

  font-family: 'iota_icons_font';
  font-size: 3rem;
}

.about__title {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.about__paragraph {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 0.75px;
}