.homepage {
  letter-spacing: 0.75px;
  padding-bottom: 8rem;
  color: var(--ifm-color-emphasis-700);
  background-color: var(--ifm-color-emphasis-100);
}

:root[data-theme='dark'] .homepage {
  background-color: var(--ifm-color-emphasis-0);
}

.homepage__section {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}

.homepage__section--gradient {
  background-color: var(--ifm-color-emphasis-0);
  border-bottom: 1px solid var(--ifm-color-emphasis-200);
}

:root[data-theme='dark'] .homepage__section--gradient {
  background: linear-gradient(rgba(41, 56, 88, 0.3), rgba(19, 31, 55, 0.3));
}

.homepage__container {
  margin: 0 8rem;
  width: 100%;
  max-width: var(--ifm-container-width);
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 996px) {
  .homepage__container {
    margin: 0 3rem
  }
}

.homepage__header {
  margin-bottom: 2rem;
}

.homepage__description {
  width: 70%;
  font-weight: 200;
  text-align: center;
  margin-bottom: 2rem;
}

@media (max-width: 996px) {
  .homepage__description {
    width: 90%;
  }
}

.intro {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.intro__section {
  max-width: 25rem;
  margin: 6rem 0;
}

.intro__header {
  font-size: 40px;
  letter-spacing: 0.8px;
}

.intro__description {
  font-weight: 200;
}

.intro__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.intro__button {
  flex: 1 1 0;
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.intro__image {
  max-width: calc(100% - 30rem);
}

@media (max-width: 996px) {
  .intro__image {
    display: none;
  }
}

.about__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  gap: 1.5rem;
  width: 100%;
}

.about__card {
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ifm-color-emphasis-0);
  box-shadow: 0 0 5px 0 var(--ifm-color-emphasis-300);
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
  color: inherit;
  cursor: pointer;
}

:root[data-theme='dark'] .about__card {
  box-shadow: none;
  background-color: var(--ifm-color-emphasis-100);
}

.about__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 16rem;
  height: 12rem;
}

.about__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);

  width: 4rem;
  height: 4rem;

  font-family: 'iota_icons_font';
  font-size: 3rem;
}

.about__header {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.about__description {
  text-align: center;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 0.75px;
}

.networks__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  gap: 1px;
  width: 100%;
  background-color: var(--ifm-color-emphasis-200);
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
  color: inherit;
}

.networks__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 1rem;
  background-color: var(--ifm-color-emphasis-0);
}

:root[data-theme='dark'] .networks__card {
  background-color: var(--ifm-color-emphasis-100);
}

.networks__section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.networks__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  width: 5rem;
  height: 5rem;

  font-family: 'iota_icons_font';
  font-size: 5rem;
}

.networks__icon--shimmer {
  color: white;
  background-color: #16D4BF;
}

.networks__icon--iota {
  color: white;
  background-color: var(--ifm-color-gray-900);
}

:root[data-theme='dark'] .networks__icon--iota {
  background-color: var(--ifm-color-gray-800);
}

.networks__label {
  font-weight: 800;
  letter-spacing: 0.75px;
  font-size: 0.8rem;
  color: var(--ifm-color-emphasis-500);
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.networks__description {
  text-align: center;
  width: 16rem;
}

.networks__features {
  list-style-type: none;
  padding: 0;
  margin-bottom: var(--ifm-paragraph-margin-bottom);
}

.networks__feature {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.networks__feature::before {
  content: url('/homepage/loading.svg');
  width: 24px;
  height: 24px;
  margin-right: 1rem;
}

.networks__feature--done::before {
  content: url('/homepage/checkmark.svg');
}

.networks__button {
  padding-top: .75rem;
  padding-bottom: .75rem;
}

.start-building {
  background: left top / 40% auto no-repeat url("/homepage/smartcontracts_bot.svg"), right bottom no-repeat url("/homepage/smartcontracts_circle.svg");
  width: 100%;
  min-height: 30rem;
  padding-right: 2rem;
  padding-left: 40%;
  display: flex;
  align-items: center;
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
}

@media (max-width: 996px) {
  .start-building {
    background: right bottom no-repeat url("/homepage/smartcontracts_circle.svg");
    padding: 2rem;
    min-height: auto;
  }
}

.start-building__header {
  font-family: "Metropolis Regular";
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}

.start-building__header::before {
  content: url('/homepage/smartcontracts_logo.svg');
  width: 65px;
  height: 65px;
  margin-right: 1rem;
}

.start-building__description {
  letter-spacing: 0.8px;
  margin: 2rem 0;
  max-width: 38rem;
}

.start-building__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.start-building__button {
  padding: .75rem 2rem;
}

.libraries__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  gap: 1.5rem;
  max-width: 100%;
}

.libraries__card {
  background-color: var(--ifm-color-emphasis-0);
  box-shadow: 0 0 5px 0 var(--ifm-color-emphasis-300);
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
  color: inherit;
  padding: 1rem;
  min-height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 997px) {
  .libraries__card--identity {
    background: left center / 50% auto no-repeat url("/homepage/identity_logo.svg");
    grid-column: span 2;
    justify-content: right;
  }
}

:root[data-theme='dark'] .libraries__card {
  box-shadow: none;
  background-color: var(--ifm-color-emphasis-100);
}

.libraries__section {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.libraries__head {
  display: flex;
}

.libraries__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);

  width: 4rem;
  height: 4rem;

  font-family: 'iota_icons_font';
  font-size: 3rem;
}

.libraries__languages {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.2rem;
}

.libraries__language {
  padding: 0.25rem 0.5rem;
}

.libraries__header {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.libraries__features {
  flex-grow: 1;
  margin: 0;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 0.8px;
}

.libraries__feature {
  margin: 0.5rem 0;
}

.libraries__button {
  padding-top: .75rem;
  padding-bottom: .75rem;
}