hr {
  border: 1px solid #EEF2FA;
}
[data-theme='dark']  hr {
  border: 1px solid var(--ifm-color-gray-700);
}

p {
  letter-spacing: 0.75 px;
  line-height: 150%;
  color: #485776;
}
[data-theme='dark'] p {
  color: var(--ifm-color-gray-500);
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__image {
  width: 8rem;
  margin-right: 0.5rem;
}

.title__subtext {
  font-size: 1.2rem;
  font-weight: 600;
  color: #909FBE;
  text-align: center;
}

.card-container {
  margin-top: 5rem;
}

.card-container__row {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border-radius: 60px;
  overflow: visible;
  cursor: pointer;
}

.card__body {
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: var(--card-bottom-background-color);
  padding: 10%;
  text-align: center;
}

.image {
  margin-top: -10px;
  margin-bottom: -10px;
  width: 100%;
}

