.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__image {
  width: 8rem;
  margin-right: 0.5rem;
}

.title__text {
  text-align: center;
  font-size: 4rem;
  font-family: 'Metropolis Semi Bold';
  margin-bottom: 0;
  letter-spacing: 0.02em;
}

.title__subtext {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--ifm-color-emphasis-500);
  text-align: center;
}

@media (max-width: 997px) {
  .title__text {
    font-size: 3rem;
  }

  .title__subtext {
    font-size: 1.1rem;
  }
}

.card-container {
  margin-top: 5rem;
}

.card__image {
  background-color: var(--ifm-background-color);
}

.card-container__row {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border-radius: 60px;
  overflow: visible;
  cursor: pointer;
  height: 100%;
}

.card__body {
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  padding: 10%;
}

.card__description {
  font-size: 0.95rem;
}

.image {
  margin-top: -10px;
  margin-bottom: -10px;
  width: 100%;
}

