.search-container {
  margin-left: auto;
}

.search-container__input {
  height: 48px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid var(--ifm-color-gray-400);
  background-color: var(--ifm-background-color);
}
