.toggle {
  position: relative;
  color: var(--ifm-navbar-link-color);
  cursor: pointer;
  user-select: none;

  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.toggle--disabled {
  cursor: not-allowed;
}

.toggle__screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

.toggle__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.toggle__icon--checked {
  opacity: 0;
  transition: opacity var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.toggle--checked .toggle__icon--checked {
  opacity: 1;
}

.toggle__icon--unchecked {
  opacity: 1;
  transition: opacity var(--ifm-transition-fast)
    var(--ifm-transition-timing-default);
}

.toggle--checked .toggle__icon--unchecked {
  opacity: 0;
}
