@import "fonts.css";
@import "variables.css";
@import "patches.css";

.dropdown__label,
.footer__title {
  font-family: "Metropolis Bold";
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.dropdown__link {
  font-size: 1rem;
}

.footer__links {
  margin-left: max(1rem, calc(20% - 10rem));
  margin-right: max(1rem, calc(20% - 10rem));
  font-size: 1rem;
}

.footer__bottom {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-left: max(1rem, calc(20% - 5rem));
  margin-right: max(1rem, calc(20% - 5rem));
}

.footer__logo {
  height: 3rem;
  margin-right: 1em;
  margin-bottom: -1em;
}

.footer__copyright {
  font-size: 0.9rem;
  margin-top: 1em;
}

.link__icon {
  font-family: 'icomoon' !important;
  font-size: 1.7rem;
}

[data-theme='dark'] .link__icon {
  color: var(--ifm-menu-color);
}

.markdown {
  margin: 2rem 3rem;
}

@media screen and (max-width: 966px) {
  .markdown {
    margin: 2rem 0rem;
  }
}

.menu {
  border-top: var(--ifm-global-border-width) solid var(--ifm-color-emphasis-200);
  font-weight: var(--ifm-font-weight-normal);
  font-size: 0.9rem;
  padding-top: calc(1rem + var(--ifm-toc-padding-vertical)) !important;
}

.menu__link--active {
  font-weight: var(--ifm-font-weight-semibold);
}

.navbar {
  border-bottom: var(--ifm-global-border-width) solid var(--ifm-color-emphasis-200);
}

.navbar__item {
  font-family: 'Metropolis Semi Bold';
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.table-of-contents ul {
  border-left: 2px solid var(--ifm-color-gray-700);
}

.table-of-contents li{
  padding: 0;
  margin: 0;
}

.table-of-contents ul li {
  margin-left: -10px
}

.table-of-contents__left-border {
  border:none
}

.table-of-contents__link {
  display: inline-block;
  color: var(--ifm-color-gray-500);
  border-left: 2px solid var(--ifm-color-gray-700);
  padding: 7px 20px;
  transition: border-color 0.5s, color 0.5s;
}

.table-of-contents__link:hover {
  color: var(--ifm-color-gray-100);
}

.table-of-contents__link--active {
  border-left: 2px solid var(--ifm-color-gray-100);
  color: var(--ifm-color-gray-100);
} 

.dropdown__menu--mega {
  padding: calc(var(--ifm-navbar-padding-vertical) + 1rem) var(--ifm-navbar-padding-horizontal) !important;
}

.dropdown__menu--mega .link__label {
  font-family: "Metropolis Semi Bold", sans-serif;
}

.card {
  cursor: pointer;
}

.card__image img {
  width: 100%;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}
