/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0fc1b7;
  --ifm-color-primary-dark: rgb(46, 134,152);
  --ifm-color-primary-darker: rgb(46, 134,152);
  --ifm-color-primary-darkest: rgb(46, 134,152);
  --ifm-color-primary-light: rgb(0, 224, 202);
  --ifm-color-primary-lighter: rgb(0, 224, 202);
  --ifm-color-primary-lightest: rgb(0, 224, 202);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 87, 118);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
