@import "fonts.css";
@import "variables.css";
@import "patches.css";

.dropdown__label,
.footer__title {
  font-family: "Metropolis Bold";
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.dropdown__link {
  font-size: 1rem;
}

.footer__links {
  margin-left: max(1rem, calc(20% - 10rem));
  margin-right: max(1rem, calc(20% - 10rem));
  font-size: 1rem;
}

.footer__bottom {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-left: max(1rem, calc(20% - 5rem));
  margin-right: max(1rem, calc(20% - 5rem));
}

.footer__logo {
  height: 3rem;
  margin-right: 1em;
  margin-bottom: -1em;
}

.footer__copyright {
  font-size: 0.9rem;
  margin-top: 1em;
}

.link__icon {
  font-family: 'icomoon' !important;
  font-size: 1.7rem;
}

[data-theme='dark'] .link__icon {
  color: var(--ifm-menu-color);
}

.markdown {
  margin: 2rem 3rem;
}

@media screen and (max-width: 966px) {
  .markdown {
    margin: 2rem 0rem;
  }
}

.menu {
  border-top: var(--ifm-global-border-width) solid var(--ifm-color-emphasis-200);
  font-weight: var(--ifm-font-weight-normal);
  font-size: 0.9rem;
  padding-top: calc(1rem + var(--ifm-toc-padding-vertical)) !important;
}

.menu__link--active {
  font-weight: var(--ifm-font-weight-semibold);
}

.navbar {
  border-bottom: var(--ifm-global-border-width) solid var(--ifm-color-emphasis-200);
}

.navbar__item {
  font-family: 'Metropolis Semi Bold';
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.table-of-contents,
.table-of-contents ul,
.table-of-contents li,
.table-of-contents__left-border {
  border: none;
  padding: 0;
  margin: 0;
}

.table-of-contents__link {
  display: inline-block;
  border-left: var(--ifm-global-border-width) solid var(--ifm-toc-border-color);
  padding: var(--ifm-toc-padding-vertical) var(--ifm-toc-padding-horizontal);

  transition-property: border-color, color;
  transition-duration: var(--ifm-transition-slow);
  transition-timing-function: var(--ifm-transition-timing-default);
}

ul ul .table-of-contents__link {
  padding-left: calc(2 * var(--ifm-toc-padding-horizontal));
}

.table-of-contents__link:hover {
  color: var(--ifm-menu-color-active);
}

.table-of-contents__link--active {
  border-left-color: var(--ifm-menu-color-active);
  color: var(--ifm-menu-color-active);
  font-weight: var(--ifm-font-weight-semibold);
}

.dropdown__menu--mega {
  padding: calc(var(--ifm-navbar-padding-vertical) + 1rem) var(--ifm-navbar-padding-horizontal) !important;
}

.dropdown__menu--mega .link__label {
  font-family: "Metropolis Semi Bold", sans-serif;
}

.card {
  cursor: pointer;
}

.card__image img {
  width: 100%;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}
