@import "fonts.css";
@import "variables.css";

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-weight: var(--ifm-font-weight-normal);
}

article {
  max-width: 800px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
 font-size: 1.8rem !important;
 padding-top: 1rem;
}

.alert h1,
.alert h2,
.alert h3,
.alert h4,
.alert h5,
.alert h6,
.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6 {
  color: inherit;
}

.menu__list {
  margin-bottom: 15px;
}

.menu__link {
  font-family: 'Inter';
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  border-radius: 0px;
}

.menu__link--active {
  font-weight: var(--ifm-font-weight-semibold);
  border-left: 3px solid var(--ifm-color-primary);
  padding-left: 12px;
  background-color: rgba(54, 161, 172, .04);
}

.menu__link--sublist {
  font-weight: var(--ifm-font-weight-semibold);
  border: none;
}

.menu__link--sublist:after {
  background-size: 1.6rem 1.6rem;
}

.table-of-contents__link {
  font-family: 'Inter';
  color: var(--ifm-color-emphasis-600);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  box-decoration-break: clone;
}

.table-of-contents__link--active {
  color: var(--ifm-color-primary);
  font-weight: var(--ifm-font-weight-semibold);
  border-left: 3px solid var(--ifm-color-primary);
  padding-left: 12px;
}

.table-of-contents {
  padding: 0px;
}

.navbar {
  font-family: 'Metropolis Semi Bold';
  line-height: 1.25rem;
  font-weight: 400;
  border-bottom: var(--ifm-global-border-width) solid var(--ifm-color-emphasis-200);
  box-shadow: none;
}


.navbar__items--right > * {
  margin-left: 2rem;
}

.navbar__brand {
  height: 25px;
}

.section-header {
  font-family: 'Inter';
  font-weight: var(--ifm-font-weight-semibold);
  font-size: 1.5rem;
  letter-spacing: 0.04em;
  color: var(--ifm-color-gray-500);
}

[data-theme='dark']  .section-header {
  color: var(--ifm-color-gray-400);
}

.footer {
  border-top: var(--ifm-global-border-width) solid var(--ifm-color-emphasis-200);
}


.footer__links {
  margin-left: max(1rem, calc(20% - 5rem));
  margin-right: max(1rem, calc(20% - 5rem));
  font-size: 1rem;
}

.footer__bottom {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-left: max(1rem, calc(20% - 5rem));
  margin-right: max(1rem, calc(20% - 5rem));
}

.footer__logo {
  height: 3rem;
  margin-right: 1em;
  margin-bottom: -1em;
}

.footer__copyright {
  font-size: 0.9rem;
  margin-top: 1em;
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

.stick {
  height: 4px;
  background-color: var(--ifm-color-primary);
  margin-bottom: 1.25rem;
  width: 16px;
  transition: all var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.stick--sm {
  width: 32px;
}

.stick--md {
  width: 48px;
}

.hash-link:hover {
  border: none;
}

/*
Patch to avoid displaying a double header in imported DOCS
*/
div.markdown > p > header > h1 {
  display:none;
}
