@import 'fonts.css';
@import 'variables.css';
@import 'patches.css';

.dropdown > .navbar__link:after,
.menu__link--sublist:after {
  content: 'expand_more';
  font-family: 'Material Icons';
  font-size: 1.25rem;
}

.dropdown__label,
.footer__title {
  font-family: 'Metropolis Bold';
  font-size: 0.8rem;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.dropdown__link {
  font-size: 1rem;
}

.dropdown__menu--mega {
  padding: calc(var(--ifm-navbar-padding-vertical) + 1rem)
    var(--ifm-navbar-padding-horizontal) !important;
}

.dropdown__menu--mega .link__label {
  font-family: 'Metropolis Semi Bold', sans-serif;
}

.card {
  min-width: 14rem;
}

article .card {
  max-width: 224px;
}
.card--pointer {
  cursor: pointer;
}

.card-radius--md {
  border-radius: 60px;
}

.card__image {
  background: linear-gradient(180deg, #001c56, #074db6);
  width: 100%;
  height: auto;
}

.card__header {
  text-align: center;
}

.card__footer {
  text-align: center;
}

.card-background:hover {
  background: var(--ifm-color-emphasis-200);
}

.footer__copyright {
  margin: 0 var(--ifm-spacing-horizontal);
  margin-bottom: 0.9rem;
}

.footer__bottom {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  margin-left: max(1rem, calc(20% - 10rem));
  margin-right: max(1rem, calc(20% - 10rem));
}

.footer__links {
  font-size: 1rem;
  margin-left: max(1rem, calc(20% - 10rem));
  margin-right: max(1rem, calc(20% - 10rem));
}

.footer__logo {
  margin: 0 var(--ifm-spacing-horizontal);
}

.image-gallery {
  display: grid;
}

.image-gallery-content {
  overflow: hidden;
}

.image-gallery-content.fullscreen {
  align-self: center;
}

.image-gallery-icon:hover {
  color: var(--ifm-color-emphasis-200) !important;
}

.image-gallery-image {
  background: var(--ifm-color-emphasis-200);
}

.image-gallery-video {
  max-width: 100%;
}

.image-gallery-thumbnail-image {
  object-fit: cover;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:focus,
.image-gallery-thumbnail:hover {
  border: 4px solid var(--ifm-color-emphasis-500) !important;
}

.link__icon {
  font-family: 'iota_icons_font' !important;
  font-size: 2.5rem;
}

[data-theme='dark'] .link__icon {
  color: var(--ifm-menu-color);
}

.markdown {
  margin: 2rem 3rem;
}

@media screen and (max-width: 966px) {
  .markdown {
    margin: 2rem 0;
  }
}

.menu {
  border-top: var(--ifm-global-border-width) solid var(--ifm-color-emphasis-200);
  font-weight: var(--ifm-font-weight-normal);
  font-size: 0.9rem;
  margin-top: calc(-1 * var(--ifm-global-border-width));
  padding-top: calc(1rem + var(--ifm-toc-padding-vertical)) !important;
}

.menu__link--active {
  font-weight: var(--ifm-font-weight-semibold);
}

.navbar {
  border-bottom: var(--ifm-global-border-width) solid
    var(--ifm-color-emphasis-200);
}

.navbar__item {
  font-family: 'Metropolis Semi Bold';
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.table-of-contents,
.table-of-contents li,
.table-of-contents ul,
.table-of-contents__left-border {
  border: none;
  margin: 0 !important;
  padding: 0 !important;
}

.table-of-contents__link {
  border-left: var(--ifm-global-border-width) solid var(--ifm-toc-border-color);
  display: inline-block;
  padding: var(--ifm-toc-padding-vertical) var(--ifm-toc-padding-horizontal);

  transition-property: border-color, color;
  transition-duration: var(--ifm-transition-slow);
  transition-timing-function: var(--ifm-transition-timing-default);
}

.table-of-contents__link:hover {
  color: var(--ifm-menu-color-active);
}

ul ul .table-of-contents__link {
  padding-left: calc(2 * var(--ifm-toc-padding-horizontal));
}

.table-of-contents__link--active {
  border-left-color: var(--ifm-menu-color-active);
  color: var(--ifm-menu-color-active);
  font-weight: var(--ifm-font-weight-semibold);
}

.team__icon {
  font-family: 'socials_font' !important;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-list {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.theme-doc-toc-mobile {
  color: var(--ifm-menu-color);
}

.theme-doc-toc-mobile button::after {
  content: 'expand_less';
  font-family: 'Material Icons';
  font-size: 1.25rem;
}

.theme-doc-toc-mobile .table-of-contents__link {
  border-left: none;
  color: var(--ifm-menu-color);
}

::selection {
  background-color: #b3d4fc;
  color: #000;
  text-shadow: none;
}

.DocSearch .DocSearch-Hit[aria-selected='true'] a {
  background-color: var(--ifm-hover-overlay);
}

.DocSearch-Button-Keys,
.DocSearch-Button-Placeholder {
  display: none !important;
}

.DocSearch.DocSearch-Button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  width: 28px;
  height: 28px;
}

.DocSearch .DocSearch-Form {
  border-radius: 0;
  border-bottom: 1px solid var(--docsearch-muted-color);
}

.DocSearch .DocSearch-Footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top: 1px solid var(--docsearch-muted-color);
}

.DocSearch .DocSearch-Search-Icon {
  color: var(--ifm-color-emphasis-600);
}

.DocSearch .DocSearch-Hit[aria-selected='true'] mark {
  color: var(--docsearch-highlight-color) !important;
  text-decoration: none;
}
