:root {
  --ifm-color-primary: hsl(186, 52%, 44%);
  --ifm-color-success: hsl(162, 52%, 44%);
  --ifm-color-info: hsl(194, 52%, 44%);
  --ifm-color-warning: hsl(56, 52%, 44%);
  --ifm-color-danger: hsl(4, 52%, 44%);

  --ifm-color-gray-0: hsl(220, 100%, 100%);
  --ifm-color-gray-100: hsl(220, 65%, 98%);
  --ifm-color-gray-200: hsl(220, 60%, 94%);
  --ifm-color-gray-300: hsl(220, 55%, 90%);
  --ifm-color-gray-400: hsl(220, 35%, 75%);
  --ifm-color-gray-500: hsl(220, 25%, 65%);
  --ifm-color-gray-600: hsl(220, 15%, 50%);
  --ifm-color-gray-700: hsl(220, 25%, 35%);
  --ifm-color-gray-800: hsl(220, 35%, 25%);
  --ifm-color-gray-900: hsl(220, 55%, 15%);
  --ifm-color-gray-1000: hsl(220, 60%, 10%);

  --ifm-background-color: var(--ifm-color-emphasis-0);
  --ifm-background-surface-color: var(--ifm-color-emphasis-0);

  --ifm-card-background-color: var(--ifm-color-emphasis-0);
  --ifm-card-border-radius: 60px;

  --ifm-color-content: var(--ifm-color-emphasis-700);
  --ifm-color-content-inverse: var(--ifm-color-emphasis-300);

  --ifm-dropdown-link-color: var(--ifm-color-emphasis-700);

  --ifm-font-family-base: Inter, sans-serif;

  --ifm-footer-background-color: var(--ifm-color-gray-900);
  --ifm-footer-color: var(--ifm-color-gray-300);
  --ifm-footer-link-color: var(--ifm-color-gray-300);
  --ifm-footer-link-hover-color: var(--ifm-color-gray-0);
  --ifm-footer-title-color: var(--ifm-menu-color);

  --ifm-global-border-width: 1px;
  --ifm-global-radius: 0.5rem;

  --ifm-heading-color: var(--ifm-color-emphasis-900);
  --ifm-heading-font-family: "Metropolis Semi Bold", sans-serif;
  --ifm-heading-font-weight: var(--ifm-font-weight-normal);

  --ifm-hero-background-color: var(--ifm-color-emphasis-100);

  --ifm-hover-overlay: var(--ifm-color-emphasis-100);

  --ifm-hr-border-color: var(--ifm-color-emphasis-200);
  --ifm-hr-border-width: var(--ifm-global-border-width);

  --ifm-link-hover-decoration: underline;

  --ifm-menu-color: var(--ifm-color-emphasis-600);
  --ifm-menu-color-active: var(--ifm-color-emphasis-1000);

  --ifm-navbar-item-padding-horizontal: 1.5rem;
  --ifm-navbar-link-color: var(--ifm-color-emphasis-600);
  --ifm-navbar-link-hover-color: var(--ifm-menu-color-active);
  --ifm-navbar-padding-horizontal: 1.5rem;
  --ifm-navbar-shadow: none;

  --ifm-scrollbar-track-background-color: transparent;
  --ifm-scrollbar-thumb-background-color: var(--ifm-color-emphasis-300);
  --ifm-scrollbar-thumb-hover-background-color: var(--ifm-color-emphasis-400);

  --ifm-toc-border-color: var(--ifm-color-emphasis-200);
  --ifm-toc-link-color: var(--ifm-menu-color);
  --ifm-toc-padding-vertical: 0.25rem;
  --ifm-toc-padding-horizontal: 1rem;
}

:root[data-theme='dark'] {
  --ifm-background-color: var(--ifm-color-emphasis-0);
  --ifm-background-surface-color: var(--ifm-color-emphasis-0);

  --ifm-card-background-color: var(--ifm-color-emphasis-100);

  --ifm-hero-background-color: var(--ifm-color-emphasis-0);

  --ifm-hover-overlay: var(--ifm-color-emphasis-100);

  --ifm-scrollbar-track-background-color: transparent;
  --ifm-scrollbar-thumb-background-color: var(--ifm-color-emphasis-300);
  --ifm-scrollbar-thumb-hover-background-color: var(--ifm-color-emphasis-400);
}
