:root {
  --ifm-color-primary: hsl(186, 52%, 44%);
  --ifm-color-success: hsl(162, 52%, 44%);
  --ifm-color-info: hsl(194, 52%, 44%);
  --ifm-color-warning: hsl(56, 52%, 44%);
  --ifm-color-danger: hsl(4, 52%, 44%);

  --ifm-color-gray-0: hsl(220, 50%, 100%);
  --ifm-color-gray-100: hsl(220, 50%, 97%);
  --ifm-color-gray-200: hsl(220, 50%, 94%);
  --ifm-color-gray-300: hsl(220, 50%, 91%);
  --ifm-color-gray-400: hsl(220, 20%, 75%);
  --ifm-color-gray-500: hsl(220, 20%, 60%);
  --ifm-color-gray-600: hsl(220, 20%, 35%);
  --ifm-color-gray-700: hsl(220, 50%, 19%);
  --ifm-color-gray-800: hsl(220, 50%, 14%);
  --ifm-color-gray-900: hsl(220, 50%, 10%);
  --ifm-color-gray-1000: hsl(220, 50%, 6%);

  --ifm-background-color: var(--ifm-color-emphasis-0);
  --ifm-background-surface-color: var(--ifm-color-emphasis-0);
  --ifm-hover-overlay: var(--ifm-color-emphasis-200);

  --ifm-font-color-base: var(--ifm-color-emphasis-700);
  --ifm-font-family-base: Inter, sans-serif;
  --ifm-line-height-base: 1.5;

  --ifm-heading-color: var(--ifm-color-gray-900);
  --ifm-heading-font-family: Inter;

  --ifm-link-hover-decoration: none;

  --ifm-global-border-width: 1px;
  --ifm-global-radius: 0.5rem;

  --ifm-card-background-color: var(--ifm-color-gray-0);

  --ifm-navbar-link-color: var(--ifm-menu-color);
  --ifm-navbar-link-hover-color: var(--ifm-color-emphasis-1000);

  --ifm-dropdown-background-color: var(--ifm-color-emphasis-0);
  --ifm-dropdown-hover-background-color: var(--ifm-color-emphasis-100);

  --ifm-footer-title-color: var(--ifm-color-emphasis-500);
  --ifm-footer-color: var(--ifm-color-gray-300);
  --ifm-footer-link-color: var(--ifm-color-gray-300);
  --ifm-footer-link-hover-color: var(--ifm-color-gray-0);
  --ifm-footer-background-color: var(--ifm-color-gray-900);

  --ifm-navbar-padding-horizontal: 25px;
  --ifm-navbar-padding-vertical: 18px;
  --ifm-navbar-height: 68px;

  --ifm-menu-color: var(--ifm-color-emphasis-600);
  --ifm-menu-color-active: var(--ifm-color-primary);
  --ifm-menu-color-background-active: transparent;

  --ifm-button-color: var(--ifm-color-gray-0);
}

:root[data-theme='dark'] {
  --ifm-background-color: var(--ifm-color-emphasis-0);
  --ifm-background-surface-color: var(--ifm-color-emphasis-0);
  --ifm-navbar-background-color:var(--ifm-background-color);

  --ifm-menu-color-background-hover: var(--ifm-color-emphasis-100);

  --ifm-card-background-color:var(--ifm-color-gray-900);

  --ifm-heading-color: inherit;

  --ifm-hover-overlay: var(--ifm-color-emphasis-100);
}

.markdown > h3 {
  --ifm-heading-vertical-rhythm-bottom: 0.2;
  --ifm-h3-vertical-rhythm-top: 2;
}
