.socialBar {
  display: flex;
}

.socialLink {
  transition: background-color var(--ifm-transition-slow) var(--ifm-transition-timing-default);
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.socialLink:hover {
  background-color: var(--ifm-color-primary) !important;
}

.socialImage {
  display: block;
  width: 1.25rem;
}

.socialTitle {
  display: none;
  font-weight: 500;
  color: var(--ifm-color-gray-0);
}

@media (min-width: 1064px) {
  .socialImage {
    margin-right: .5rem;
  }

  .socialTitle {
    display: block;
  }
}
