.socialLink {
  transition: background-color var(--ifm-transition-slow) var(--ifm-transition-timing-default);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
}

.socialLink:hover {
  background-color: var(--ifm-color-primary) !important;
}

.socialImage {
  display: block;
  width: 1.25rem;
}

.socialTitle {
  display: block;
  font-family: 'Metropolis Bold';
  color: #FFFFFF;
}
