.tutorial-link {
  text-align: right;
}

.tutorial-link__anchor {
  color: var(--ifm-font-color-base);
  text-decoration: underline;
}

.tutorial-filter {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.tutorial-filter__search {
  flex-grow: 1;
  max-width: 50%;
}

.tutorial-filter__toggle {
  display: flex;
  align-items: center;
  color: var(--ifm-font-color-base);
  background-color: var(--ifm-color-emphasis-200);
  border-color: var(--ifm-color-emphasis-200);
}

.tutorial-filter__toggle:hover {
  color: var(--ifm-color-emphasis-900);
}

.tutorial-filter__toggle-label {
  margin-left: 1rem;
}

@media screen and (max-width: 966px) {
  .tutorial-filter__search {
    max-width: none;
  }

  .tutorial-filter__toggle-label {
    display: none;
  }
}

.search-container__input::placeholder {
  color: var(--ifm-color-emphasis-400);
}

.Collapsible__trigger {
  cursor: auto;
}

.Collapsible__trigger::after {
  color: transparent;
}

.Collapsible__contentOuter {
  padding: 2px;
}
