.tutorial-link {
  text-align: right;
}

.tutorial-link__anchor {
  color: var(--ifm-color-gray-400);
  text-decoration: underline;
}

.filter-button {
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
  color: var(--ifm-font-color-base);
  background-color: var(--ifm-color-emphasis-200);
  border-color: var(--ifm-color-emphasis-200);
}

.react-select__control {
  background-color: var(--ifm-color-emphasis-200) !important;
  border: 0 !important;
  margin-bottom: 1rem !important;
}

.react-select__indicator-separator {
  background-color: transparent !important;
}

.react-select__menu {
  background-color: var(--ifm-color-emphasis-200) !important;
  z-index: 9999;
}

.react-select__option--is-focused {
  background-color: var(--ifm-color-emphasis-300) !important;
}

.react-select__multi-value {
  background-color: var(--ifm-background-color) !important;
}

.react-select__multi-value__label {
  color: var(--ifm-font-color-base) !important;
}

.Collapsible__trigger {
  cursor: auto;
}

.Collapsible__trigger::after {
  color: transparent;
}

.Collapsible__contentOuter {
  padding: 2px;
}
