---
title: Discord Verification
description: IOTA Discord verification and onboarding process explained
---

# IOTA Discord

**If you are new to [Discord](https://discord.iota.org/) as a platform, have a look at their [Beginner's Guide to Discord](https://support.discord.com/hc/en-us/articles/360045138571-Beginner-s-Guide-to-Discord) which is translated in different languages.**

## Join the IOTA Discord

Go to [discord.iota.org](https://discord.iota.org) to join the IOTA Discord.

**Requirements**

A verified Discord account is required to get access to the IOTA Discord.

**First Steps**

Make sure to read the server rules and accept them.

![discord-first-steps](/img/participate/discord/first_steps_discord_1.png)

Before verification, the list of channels will be very limited. Use the **#verification-help** channel to get support for the verification.

![discord-verify-yourself](/img/participate/discord/verify_yourself_discord_2.png)

## Verification Process

Make sure to have DMs (direct messages) enabled.

![discord-enable-dm](/img/participate/discord/enable_dm_discord_3.png)

**Note**: After the verification process, it is suggested to disable direct messages as those are prone to be used to send spam messages or scams.

The verification system will send a direct message. Click on the **Click me to verify!** link to start with the verification.

![discord-verify](/img/participate/discord/verify_click_discord_4.png)

Discord will warn you before opening a browser. Click **Yep** to continue.

![discord-warning](/img/participate/discord/warning_discord_5.png)

Once verified, the IOTA Discord will display channels.

![discord-success](/img/participate/discord/success_discord_6.png)

## Welcome to the IOTA Discord

A series of channels and categories are unlocked once your account is verified.

![discord-welcome](/img/participate/discord/welcome_discord_7.png)

**Onboarding**

- Visit the 🏁｜first-steps channel<br/>
  Click on the button there to start with the onboarding and unlocking further categories and channels based on your interests.

## Next steps

- Visit the **#read-me-first** channel<br/>
  Please read the information there to learn about our rules and tips.

- Access the **#stay safe** channel<br/>
  Read the tips there to understand how to stay safe on Discord.

- Access the **#get-your-badges** channel<br/>
  Within the IOTA Community, we use Discord roles as badges and to enable members to identify themselves within a group or tailor the categories and channels to their interests. The roles are also used to notify the members of specific or dedicated events.

<br/>

---

<br/>

## Useful Links

- **[discord.iota.org](https://discord.iota.org)** - Join the IOTA Discord
- **[support.discord.com](https://support.discord.com/hc/en-us/articles/360045138571-Beginner-s-Guide-to-Discord)** - Beginner's Guide to Discord
