.mana--card {
  box-sizing: border-box;
}
.row > .button {
  margin: 0;
}

.table .row {
  background: var(--ifm-table-stripe-background);
  border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}

.table .row .col {
  box-sizing: border-box;
}

.table .row .add-button {
  margin: 0 calc(50% - var(--ifm-navbar-padding-horizontal));
}

.table .row .col--4:nth-child(1),
.table .row .col--8:nth-child(1),
.table .row .col--4:nth-child(2),
.table .row .col--6:nth-child(1) {
  border-right: var(--ifm-table-border-width) solid
    var(--ifm-table-border-color);
}

.table .row:nth-child(even) {
  background: var(--ifm-table-cell-color);
}
.table .align-right {
  text-align: right;
}
