.mana--card {
  box-sizing: border-box;
}
.row > .button {
  margin: 0;
}

.table .row {
  background: var(--ifm-table-stripe-background);
  border: var(--ifm-table-border-width) solid var(--ifm-table-border-color);
}

.table .row .col {
  box-sizing: border-box;
}

.table .row .add-button {
  margin: 0 calc(50% - var(--ifm-navbar-padding-horizontal));
}

.table .row .col--4:nth-child(1),
.table .row .col--8:nth-child(1),
.table .row .col--4:nth-child(2),
.table .row .col--6:nth-child(1) {
  border-right: var(--ifm-table-border-width) solid
    var(--ifm-table-border-color);
}

.table .row:nth-child(even) {
  background: var(--ifm-table-cell-color);
}

.mana_calculator__card {
  background-color: var(--ifm-color-emphasis-100);
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
  color: inherit;
  transition: border-color 200ms ease-in-out;
  padding: 15px;
  margin: 10px 0px;
}

.mana_calculator_inner__card {
  background-color: var(--ifm-color-emphasis-0);
  box-shadow: none;
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-global-radius);
  color: inherit;
  transition: border-color 200ms ease-in-out;
  padding: 15px;
  margin: 10px 0px;
}

.mana_calculator__card input:not([role$='combobox']) {
  background-color: var(--ifm-color-emphasis-200) !important;
  padding: 10px;
  border-radius: 4px;
  border: none;
}

.input--vertical-spaced {
  margin-bottom: 1rem;
}

.horizontal-spaced {
  margin-right: 5px;
}

.button--remove {
  padding: 10px;
}

.row--centered {
  display: flex;
  align-items: center;
}

.mana-calculator__tooltip {
  background-color: var(--ifm-color-emphasis-100);
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: var(--ifm-global-radius);
  color: inherit;
  padding: 10px;
}

.mana-calculator__transparent-button {
  background-color: transparent !important;
}

.mana-calculator__button {
  background-color: var(--ifm-color-emphasis-100);
  margin: 0px;
  margin-top: 1rem;
  color: var(--ifm-font-color-base);
}

.mana-calculator__button:hover {
  color: var(--ifm-font-color-base);
}

.mana-calculator__tooltip > p {
  margin: 0;
}

.inlined-label {
  display: inline-block;
  width: 200px;
}

.inlined-long-label {
  display: inline-block;
  width: 350px;
}

.small-row-head {
  font-size: 15px;
}

.mana_calculator__compact {
  width: 200px;
  margin-bottom: 1rem !important;
}

.validated_input__wrapper {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.validated_input__error {
  text-align: left;
  white-space: nowrap;
}

.validator_card {
  padding: 4px 0;
}

.validator_card .errored {
  position: relative;
  padding: 1.25rem 0;
}

.validator_card .errored .validated_input__error {
  position: absolute;
  bottom: -2px;
}

.validated_input__wrapper .validated_input__error {
  margin-top: 0.25rem;
  margin-bottom: 0;
  font-size: 12px;
  color: red;
}

.mana_calculator__compact + .validated_input__error {
  margin-top: -0.75rem;
  margin-bottom: 0.25rem;
}

.validated_input__wrapper input.w-full {
  width: 100%;
}
